.header{
   width: 100%;
    border-radius: 10px;
    background-color: $bgColorBox;

    @include lg{
      width: 30%;
       
        justify-content: start;
       
        padding-bottom:1.6rem;
        
        margin-bottom: 2rem;
        position: relative;
        top: 0.5rem;
      
        
    }
  

    &__info{
        
        display: flex;
        align-items: center;
        justify-content:start;
        // gap: 1rem;
        background-color: $blue;
        border-radius:10px;
        padding: 2rem;
   
        @include lg{
            flex-direction: column;
            align-items: start;
           margin-bottom: 0.9rem; 
           padding-bottom: 7.5rem;
          
             .header__info__text__name{
            width: 1rem;
        }
        }
      
       
        p{
            color: white;
            opacity: 50%;
            font-size: 15px;
        }
       &__text__name{
            font-weight:$medium;
           color: $paleText;
            font-size: 22px;
            @include lg{
                font-size: 1.8rem;
                color: white;
                font-weight: $light;
              
            }
           
           
        }
       &__col{
        @include lg{
            position: relative;
        top: .7rem;
        }
       }
       &__data{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            
         

           
           
        }
        .header__image{
            height: 4rem;
            width: 4rem;
            margin-right: 1rem;
            border: 3px solid white;
            border-radius: 50%;
            @include lg{
                margin-bottom: 2rem;
            }
           
        }
    }
    .header__data{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem;
        gap: 1rem;
        
        @include sm{
            flex-direction: row;
            align-items: start;
           
        }
        @include lg{
            flex-direction: column;
            align-items: start;
           
        }
  
      button{
        color: $paleText;
        cursor: pointer;
        font-size: 18px;
        
        @include lg{
            font-size: .9rem;
           }
        &:hover{
            color:white;
        }
       .visited{
        color: white;
       }
        
      } 
       
    }
   
}